@import "../omarchy/current/theme/waybar.css";

* {
  /* background-color: @background; */
  /* color: @foreground; */

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'Typestar OCR';
  font-size: 14px;
  padding: 1px;
}

.modules-left {
  margin-left: 5px;
}

.modules-right {
  margin-right: 5px;
}

window#waybar {
  background: @background;
  margin-top: 10px;
}

window#waybar.empty #window{
  background: transparent;
  color: transparent;
  padding: 0;
  margin-left: 5px;
  transition: .5s;
}

mpris.empty {
  background: transparent;
}

#workspaces button {
  all: initial;
  padding: 3px 10px 3px 5px;
  margin: 0px 5px;
  min-width: 9px;
}
#workspaces button.active {
  background: @foreground;
  color: @background;
  border-radius: 30px;
  padding: 3px 10px 3px 5px;
}
#workspaces button:hover {
  background: alpha(@foreground, .3);
  border-radius: 30px;
  padding: 3px 10px 3px 5px;
  transition: .7s;
}
#workspaces button.active:hover {
  background: @foreground;
  color: @background;
  border-radius: 30px;
  padding: 3px 10px 3px 5px;
}
#workspaces button.empty {
  opacity: 0.3;
}

#custom-weather, #memory, #mpris, #window, #tray-expander, #workspaces, #clock, 
#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio,
#custom-screenrecording-indicator,
#custom-update {
  background-color: alpha(@foreground, .1);
  
  padding: 5px 10px 5px 10px;
  margin: 5px 0px 5px 0px;
}
#mpris:hover, #window:hover, #clock:hover, 
#backlight:hover,
#cpu:hover,
#network:hover,
#bluetooth:hover,
#pulseaudio:hover,
#custom-screenrecording-indicator:hover,
#custom-update:hover {
  background-color: alpha(@foreground, .2); 
  transition: .7s;
}
#custom-expand-icon {
  margin-right: 7px;
}

#tray, #memory, #custom-weather {
  background-color: transparent;
  margin: 5px 5px 5px 5px;
  padding: 0px 2px 0px 2px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  border-radius: 10px;
  padding: 0px 10px 0px 10px;
  margin: 5px 5px 5px 5px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  border-radius: 10px;
  min-width: 12px;
  font-size: 10px;

  padding: 0px 11px 0px 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}


/* EXTRA FIX! */
#custom-omarchy, #battery{
  background-color: @foreground;
  color: @background;
  min-width: 10px;

  border-radius: 10px;
  padding: 0 10px;
  margin: 5px 0px 5px 5px;
}

#workspaces, #mpris {
  margin: 5px;
  border-radius: 10px;
}
#window, #mpris { 
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
}

#tray-expander {
  padding: 0px 0px 0px 10px;
  margin-left: 1px;
  border-radius: 10;
}
#backlight {
  background-color: alpha(@foreground, .1);
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  margin: 5px;
}
#network {
  border-radius: 10px 0px 0px 10px;
}
#cpu {
  padding: 0px 15px 0px 10px;
  border-radius: 0px 10px 10px 0px;
  margin-right: 1px;
}
#pulseaudio {
  padding: 0px 15px 0px 10px;
}

tooltip {
  border-radius: 10px;
  background: @background;
  border: 3px solid alpha(@foreground, .5);
}
