@import "../omarchy/current/theme/waybar.css";

* {
  background-color: @background;
  color: @foreground;

  border: none;
  min-height: 0;
  margin-right:2px;
  min-width: 0px;
  font-family: SAO UI TT;
  font-weight: bold;
  font-size: 12px;
}

#workspaces button {
  all: initial;
  padding: 0px 6px;
  margin: 5px 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#custom-weather,
#memory,
#custom-update,
#backlight,
#window,
#mpris,
#tray,
#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio,
#clock,
#custom-omarchy,
#workspaces,
#tray-expander { 
  min-width: 0px;
  margin: 7.5px 5px;
}

#custom-expand-icon {
  margin-right: -5px;
  padding: 1px;
}

#network {
  margin-left: 2px;
}
#memory {
  margin-left: 0px;
}
#tray {
  margin-right: 2px;
}
#battery {
  margin-bottom: 10px;
}
#backlight {
  margin-right: 3px;
}
#clock {
  font-size: 20px;
}
#custom-omarchy {
  margin-top: 10px;
}
tooltip {
  padding: 0px;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-right: 5px;
  margin-top: 10px;
  font-size: 15px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}
.active{
  color:#000000;
}